/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');
/* #SHARED*/
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: rgb(239, 59, 89);
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;

}
/* HEADER */
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}
nav{
    display: flex;
    justify-content:space-between ;
    /* padding: 50px 240px; */
    align-items: center;
}
.nav-title{
    font-size:2.8rem ;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}


/* #MEDIA */
/* mobile */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }

}
@media screen and (min-width:576px) and (max-width:960px) {
    
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}





